@import '@/theme';

.button {
  height: $button-height;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 32px;
  padding: 0 24px;

  &__text {
    font-weight: 600;
    font-size: 14px;
  }

  &.solid {
    transition: background-color 0.2s;

    @include themed() {
      background-color: rgba(getColor('title'), 0.2);
      color: getColor('title');

      &:hover {
        background-color: 2px solid rgba(getColor('title'), 0.4);
      }
    }
  }

  &.outline {
    transition: border 0.2s;

    @include themed() {
      background: transparent;
      border: 2px solid rgba(getColor('title'), 0.2);
      color: getColor('title');

      &:hover {
        border: 2px solid rgba(getColor('title'), 0.6);
      }
    }
  }

  &.ghost {
    @include themed() {
      background: transparent;
      color: rgba(getColor('title'), 0.8);

      &:hover {
        color: 2px solid rgba(getColor('title'), 1);
      }
    }
  }

  &.primary.solid {
    @include themed() {
      background-color: rgba(getColor('primary'), 0.09);
      color: getColor('primary');

      &:hover {
        background-color: rgba(getColor('primary'), 0.1);
      }
    }
  }

  &.primary.outline {
    @include themed() {
      background: transparent;
      border: 2px solid rgba(getColor('primary'), 0.1);
      color: getColor('primary');

      &:hover {
        border: 2px solid rgba(getColor('primary'), 0.2);
      }
    }
  }

  &.primary.ghost {
    @include themed() {
      background: transparent;
      color: rgba(getColor('primary'), 0.8);

      &:hover {
        color: rgba(getColor('primary'), 1);
      }
    }
  }

  &.secondary.solid {
    @include themed() {
      background-color: rgba(getColor('secondary'), 0.09);
      color: getColor('secondary');

      &:hover {
        background-color: rgba(getColor('secondary'), 0.1);
      }
    }
  }

  &.secondary.outline {
    @include themed() {
      background: transparent;
      border: 2px solid rgba(getColor('secondary'), 0.1);
      color: getColor('secondary');

      &:hover {
        border: 2px solid rgba(getColor('secondary'), 0.2);
      }
    }
  }

  &.secondary.ghost {
    @include themed() {
      background: transparent;
      color: rgba(getColor('secondary'), 0.8);

      &:hover {
        color: rgba(getColor('secondary'), 1);
      }
    }
  }
}
