@import '@/theme';

.page-header {
  display: flex;
  flex-direction: column;
  position: relative;
  
  @include themed() { 
    &__subtitle {
      color: getColor('primary');
      font-weight: 500;
      font-size: 1.8rem;
      letter-spacing: .2rem;
    }
  
    &__title {
      color: getColor('title');
      font-weight: 500;
      font-size: 3.6rem;

      @media (max-width: $medium-bp) {
      font-size: 3.6rem;
      }

      @media (max-width: $small-bp) {
        font-size: 3rem;
      }
    }
  
    &__background-text {
      position: absolute;
      font-weight: 550;
      font-size: 19.6rem;
      line-height: 4rem;
      top: -1rem;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgba($color: getColor('primary'), $alpha: 0.2);

      @media (max-width: $medium-bp) {
        font-size: 16rem;
      }

      @media (max-width: $small-bp) {
        font-size: 12rem;
      }
    }

    .center {
      text-align: center;
      left: 0;
      right: 0
    }

    .right {
      text-align: end;
      right: 0
    }
  }
}