@import './index.scss';
@import './reset.scss';
@import './reusable.scss';

html {
  font-size: 62.5% !important;
}

body {
  @include themed() {
    color: getColor('text');
    background: getColor('background');
  }

  overflow-x: hidden !important;
  padding-top: $navbar-height;
}
