@import './index.scss';
@import './reset.scss';
@import './reusable.scss';

body {
  @include themed() {
    color: getColor('text');
    background: getColor('background');

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span {
      color: getColor('title');
    }

    p {
      color: getColor('text');
    }
  }
}
