$palettes: (
  dark: (
    background: #080c0a,
    container: #101312,
    title: #ffffff,
    text: #616462,
    primary: #3a7347,
    secondary: #c4d2a0,
    border: #101410,
  ),
  light: (
    background: #dee2d4,
    container: #d9dece,
    title: #000000,
    text: #5b5e55,
    primary: #3a7347,
    secondary: #c4d2a0,
    border: #d6dcc6,
  ),
);
