$dark-background: #080c0a;
$dark-container: #101312;
$dark-title: #ffffff;
$dark-text: #616462;

$light-background: #dee2d4;
$light-container: #d9dece;
$light-title: #000000;
$light-text: #5b5e55;

$primary: #3a7347;
$secondary: #c4d2a0;

:root {
}
