@import '@/theme';

.nav {
  height: $navbar-height;
  backdrop-filter: blur(16px) contrast(200%);
  max-width: 100vw;
  width: 100%;
  z-index: 99999;
  position: fixed;
  top: 0;
  transition:
    transform 0.3s ease,
    visibility 0s 0.3s linear;

  &.--is-fixed {
    transform: translate3d(0, -100%, 0);
  }

  &.--scrolling-up {
    transform: translate3d(0, 0, 0);
  }

  @include themed() {
    background-color: rgba(getColor('background'), 0.9);
    border-bottom: 2px solid getColor('border');
  }

  .outer-container {
    max-height: $navbar-height;
  }

  .navbar {
    height: $navbar-height;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      height: 100%;
      display: flex;
      align-items: center;

      &.--expanded {
        opacity: 0;
      }
    }

    &__routes {
      @include themed() {
        border: 2px solid getColor('border');
      }

      border-radius: 32px;
      padding: 4px;
      display: flex;

      &__route {
        @include themed() {
          color: getColor('text');
        }

        text-decoration: none;
        padding: 8px 16px;
        border-radius: 32px;
        letter-spacing: 4px;

        &.--active {
          @include themed() {
            color: getColor('title');
            background-color: rgba(getColor('secondary'), 0.02);
            outline: 2px solid getColor('border');
          }
        }
      }

      &__splash {
        position: absolute;
        top: 80px;
        right: 40px;

        &::after {
          content: '';

          @include themed() {
            background-color: rgba(getColor('container'), 0.98);
          }

          backdrop-filter: blur(16px) saturate(100%);

          overflow: hidden;

          display: block;
          position: absolute;
          border-radius: 50%;

          width: 280vmax;
          height: 280vmax;
          top: -142vmax;
          left: -142vmax;

          transform: scale(0);
          transform-origin: 50% 50%;
          transition: transform 0.3s cubic-bezier(0.755, 0.05, 0.855, 0.06);

          will-change: transform;
          z-index: 10;
        }
      }

      &__header {
        display: none;
        height: $navbar-height;
      }

      &__corporate-button {
        display: none;
        position: absolute;
        bottom: 40px;
        left: 40px;
      }
    }

    &__toggle-menu {
      display: none;
    }

    @media (max-width: $big-bp) {
      &__routes {
        position: absolute;
        inset: 0;
        height: 100vh;
        border-radius: 0;
        top: -100vh;
        flex-direction: column;
        padding: 40px;
        padding-top: 0;
        overflow: hidden;
        background: transparent;

        @media (max-width: $medium-bp) {
          padding: 0 24px;
        }

        @media (max-width: $small-bp) {
          padding: 0 16px;
        }

        &__route {
          text-decoration: none;
          padding: 8px 0;
          border-radius: 0;
          height: min-content;
          font-size: 4rem;
          text-transform: lowercase;

          &.--active {
            @include themed() {
              color: getColor('title');
              background-color: transparent;
              outline: none;
            }
          }
        }

        &__header {
          margin-bottom: 48px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }

        &__corporate-button {
          display: flex;
        }

        &__route,
        &__header,
        &__corporate-button {
          opacity: 0;
          transform: scale(0.95);
          transition-property: opacity, transform;
          transition-duration: 0.7s;
          transition-delay: 0.3s;
          z-index: 999;
        }

        &.--expanded {
          top: 0;

          .navbar__routes__splash {
            &::after {
              transform: scale(1);
            }
          }

          .navbar__routes__route,
          .navbar__routes__header,
          .navbar__routes__corporate-button {
            opacity: 1;
            transform: scale(1);
          }
        }
      }

      &__corporate-button {
        display: none;
      }

      &__toggle-menu {
        display: block;
      }
    }
  }
}

.blur {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(4px) saturate(100%);
  z-index: 999;
  transition: 1s;
  opacity: 0;
  pointer-events: none;

  &.--expanded {
    opacity: 1;
  }
}
